<nav class="navbar is-link">
  <div class="navbar-brand">
    <a class="navbar-item" href="{{ site.baseurl }}/">
      {{ site.title }}
    </a>
    <div class="navbar-burger" data-target="navbar">
      <span></span>
      <span></span>
      <span></span>
    </div>
  </div>

  <div id="navbar" class="navbar-menu">
    <div class="navbar-start">
      <a class="navbar-item" href="{{ site.baseurl }}">
        Home
      </a>
      <div class="navbar-item has-dropdown is-hoverable">
        <span class="navbar-link">
          Categories
        </span>
        <div class="navbar-dropdown">
          <a class="navbar-item" href="{{ site.baseurl }}{% link _category/articles.md %}">
            Articles
          </a>
          <a class="navbar-item" href="{{ site.baseurl }}{% link _category/tutorials.md %}">
            Tutorials
          </a>
        </div>
      </div>
      <a class="navbar-item" href="{{ site.baseurl}}{% link tags.html %}">Tags</a>
    </div>

    
  </div>
</nav>