<nav class="navbar is-link">
  <div class="navbar-brand">
    <a class="navbar-item" href="{{ site.baseurl }}/">
      INSERT LOGO
    </a>
    <div class="navbar-burger" data-target="navbar">
      <span></span>
      <span></span>
      <span></span>
    </div>
  </div>

  <div id="navbar" class="navbar-menu">
    <div class="navbar-start">
      <a class="navbar-item" href="{{ site.baseurl }}">
        Home
      </a>
      <div class="navbar-item has-dropdown is-hoverable">
        <span class="navbar-link">
          Categories
        </span>
        <div class="navbar-dropdown">
          <a class="navbar-item" href="{{ site.baseurl }}{% link _category/articles.md %}">
            Articles
          </a>
          <a class="navbar-item" href="{{ site.baseurl }}{% link _category/tutorials.md %}">
            Tutorials
          </a>
        </div>
      </div>
    </div>

    <div class="navbar-end">
      <div class="navbar-item">
        <div class="field">
          <div class="control has-icons-right">
            <input class="input" type="text" placeholder="Search">
            <span class="icon is-small is-right">
              <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-search"><circle cx="11" cy="11" r="8"></circle><line x1="21" y1="21" x2="16.65" y2="16.65"></line></svg>
            </span>
          </div>
        </div>
      </div>
    </div>
  </div>
</nav>